<hamber-dir></hamber-dir>
<imgvid-dir class="showuser2-dir">
    <div id="content22" class="snap-content contanet_profile gradiant_orange">
        <div id="toolbar">
            <a href="" id="open-right"></a>
            <p class="logo_name" >ویدیوهای من</p>
            <div class="icons">
                <a href="" onclick="window.history.back();" class="close"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <div class="tool_bar_fix">
        <!--=================toolbar fix start================-->
            <div class="user_list follower">
                <!--=================================-->
                <div class="mt_15 grid register_form">
                    <form class="mvd_img" id="mvd_img" action="" method="post">
                        <label class="title_form">
                            <span class="full_center"><i class="fa fa-instagram"></i></span>
                            <text><h3>در این قسمت می توانید ویدیو ها و تصاویر خود را آپلود نمایید  </h3></text>
                        </label>
                         <label class="title_form">
                            <span id="uploadBtn" class="full_center bg-gray"><i class="fa fa-plus-circle"></i></span>
                            <text><h3 class="changable_text"> بارگزاری ویدیو یا تصویر  جدید </h3>

                                <div id="progressOuter" class="progress progress-striped active" style="display:none">
                                    <div id="progressBar" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                </div>
                                <div style="display:none" class="percent_upload"><i>0</i>درصد</div>
                             </text>
                        </label>
                        <label style="height: 60px;" class="text_img_vid">
                            <textarea type="text"  class="db inp_def mt_10 req text_img_vid" id="text_img_vid" rows="2" name="text" placeholder="درباره ی این ویدیو یا تصویر بنویسید"></textarea>
                        </label>
                        <input type="button"  class="btn_white submit_register" value="ذخیره و ارسال">
                        <input type="button"  class="btn_white ui-state-disabled" value="لغو کردن این آپلود">

                    </form>
                    <div id="msgBox"></div>
                </div>
                <!--==============Cv_list===================-->
                <p class="h3 grid" style="color:#fff"> آخرین ویدیو  و تصاویر من: </p>
                <div class="cv_list">
                    <!--===============cv_one==================-->
                    <div class="cv_one"  ng-repeat="element in portfolio | orderBy:'-p_id' " p_id="{{element.p_id}}">
                        <div class="photo_cv" p_id="{{element.p_id}}">
                            <div class="img" ng-if="element.p_type == '0'" style="background-image:url('{{base_url}}/uploads/portfolio/images-small/{{element.p_name}}')"></div>
                            <div class="img video" ng-if="element.p_type == '1'" style="background-image:url('{{base_url}}/uploads/portfolio/video_image/{{element.p_name.split('.')[0]}}.jpg')"></div>
                            <span class="date">{{element.dates}}</span><span class="share_btn" share_url="{{base_url}}api_show/portfolio/{{element.p_id}}"><i class="fa fa-share-alt"></i></span><span class="dl_btn" share_url="{{base_url}}api_show/portfolio_dl/{{element.p_name}}"><i class="fa fa-cloud-download"></i></span>
                            <span ng-if="element.p_type== 0" class="type type-0"><span class="value">{{element.p_filesize/1048576 | number:2}} MB</span></span>
                            <span ng-if="element.p_type== 1" class="type type-1"><span class="value">{{element.p_filesize/1048576 | number:2}} MB</span></span>
                        </div>
                        <div class="extra bs">
                            <span class="text">{{element.p_text}}</span>
                            <ul class="count">
                                <li ng-if="element.l_count && element.member_do_like" class="like do_like liked">{{element.l_count}}&zwnj;</li>
                                <li ng-if="element.l_count && !element.member_do_like"  class="like do_like unliked">{{element.l_count}}&zwnj;</li>
                                <li ng-if="!element.l_count" class="like do_like unliked">0</li>
                                <li ng-if="element.c_count" class="comment">{{element.c_count}}&zwnj;</li>
                                <li ng-if="!element.c_count" class="comment">0</li>
                                <li ng-if="element.v_count" class="view">{{element.v_count}}&zwnj;</li>
                                <li ng-if="!element.v_count" class="view">0</li>
                                <li class="more">&zwnj;
                                    <div class="porfolio_spam remove_portfolio" p_id="{{element.p_id}}"><span>حذف</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--=================================-->
                </div>
                <!--===========end cv_list======================-->
                <!--=================toolbar fix end================-->
            </div>
        </div>
        <!--=================toolbar fix end================-->
    </div>
    <!--=================================-->
</imgvid-dir>
