<hamber-dir></hamber-dir>
<imgvid-dir class="showuser2-dir">
    <div id="content22" class="snap-content contanet_profile ">
        <div id="toolbar">
            <a href="" id="open-right"></a>
            <p class="logo_name" >نمونه کار های من</p>
            <div class="icons">
                <a href="" onclick="window.history.back();" class="close"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        <!--=================================-->
        <div class="mt_15 grid">
            <form class="mvd_img" action="" method="post">
                <label class="db">
                    <span class="db h2">متن مربوط به رزومه</span>
                    <textarea type="text"  class="db inp_def mt_10 req text_img_vid" id="text_img_vid" rows="5" name="text" placeholder="در چند کلمه نمونه کار را توضیح دهید"></textarea>
                </label>
                <input type="button" id="uploadBtn" class="btn_blue submit_register" value=" انتخاب فایل از تلفن همراه">
            </form>
            <div class="loading_uploading"><span></span><p>در حال آپلود ... </p></div>
            <div class="percent_upload"><span>0</span>%</div>
            <div id="progressOuter" class="progress progress-striped active" style="display:none;">
                
                <div id="progressBar" class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                </div>
            </div>
            <div id="msgBox"></div>
        </div>
        <!--==============Cv_list===================-->
        <div class="cv_list">
            <!--===============cv_one==================-->
            <div class="cv_one"  ng-repeat="element in portfolio | orderBy:'-parseInt(p_id)' " p_id="{{element.p_id}}">
                <div class="photo_cv" p_id="{{element.p_id}}">
                    <div class="img" ng-if="element.p_type == '0'" style="background-image:url('{{base_url}}/uploads/portfolio/images-small/{{element.p_name}}')"></div>
                    <div class="img" ng-if="element.p_type == '1'" style="background-image:url('img/video-player.jpg')"></div>
                    <span class="date">{{element.dates}} <span class="share_btn" share_url="{{base_url}}api_show/portfolio/{{element.p_id}}"><i class="fa fa-share-alt"></i></span></span>
                    <span ng-if="element.p_type== 0" class="type type-0"><span class="value">{{element.p_filesize/1048576 | number:2}} MB</span></span>
                    <span ng-if="element.p_type== 1" class="type type-1"><span class="value">{{element.p_filesize/1048576 | number:2}} MB</span></span>
                </div>
                <div class="extra bs">
                    <span class="text">{{element.p_text}}</span>
                    <ul class="count">
                        <li ng-if="element.l_count && element.member_do_like" class="like do_like liked">{{element.l_count}}&zwnj;</li>
                        <li ng-if="element.l_count && !element.member_do_like"  class="like do_like unliked">{{element.l_count}}&zwnj;</li>
                        <li ng-if="!element.l_count" class="like do_like unliked">0</li>
                        <li ng-if="element.c_count" class="comment">{{element.c_count}}&zwnj;</li>
                        <li ng-if="!element.c_count" class="comment">0</li>
                        <li ng-if="element.v_count" class="view">{{element.v_count}}&zwnj;</li>
                        <li ng-if="!element.v_count" class="view">0</li>
                        <li class="more">&zwnj;
                            <div class="porfolio_spam remove_portfolio" p_id="{{element.p_id}}"><span>حذف</span></div>
                        </li>
                        <li ng-if="element.member_do_like != null" p_id="{{element.p_id}}" class="portfolio_drop"><span></span></li>
                    </ul>
                </div>
            </div>
            <!--=================================-->
        </div>
        <!--===========end cv_list======================-->
    </div>
    <!--=================================-->
</imgvid-dir>
